// Copyright (c)2022 Quinn Michaels. All rights reserved.

$colors = {
  white: #ffffff,
  black: #000000,
  grey: #5b5b5b
  light-grey: #9c9c9c
  dark-grey: #333333
  darker-grey: #1c1c1c
  darkest-grey: #0f0f0f
  baby-blue: #5aa9f8
  blue: #3941ea
  light-baby-blue: #92ddfd
  green: #5bff67
  light-green: #9dffa4
  yellow: #bea500
  light-yellow: #bcb05e
  dark-yellow: #786800
  pink: #fe4e8d
  light-pink: #ff75f9
  orange: #ff9c00
  light-orange: #fdcc80
  red: #cb2323
  light-red: #d66161
  purple: #ba80e7
  light-purple: #cba7e6
  aqua: #79f2e8
  light-aqua: #a5f0ea
  note: #e8e3ac
}
