// Copyright 2019 Quinn Michaels
// This file is part of #QUINN

$icons = {
  home: "\e600",
  home2: "\e601",
  home3: "\e602",
  home4: "\e603",
  home5: "\e604",
  home6: "\e605",
  bathtub: "\e606",
  toothbrush: "\e607",
  bed: "\e608",
  couch: "\e609",
  chair: "\e60a",
  city: "\e60b",
  apartment: "\e60c",
  pencil: "\e60d",
  pencil2: "\e60e",
  pen: "\e60f",
  pencil3: "\e610",
  eraser: "\e611",
  pencil4: "\e612",
  pencil5: "\e613",
  feather: "\e614",
  feather2: "\e615",
  feather3: "\e616",
  pen2: "\e617",
  pen-add: "\e618",
  pen-remove: "\e619",
  vector: "\e61a",
  pen3: "\e61b",
  blog: "\e61c",
  brush: "\e61d",
  brush2: "\e61e",
  spray: "\e61f",
  paint-roller: "\e620",
  stamp: "\e621",
  tape: "\e622",
  desk-tape: "\e623",
  texture: "\e624",
  eye-dropper: "\e625",
  palette: "\e626",
  color-sampler: "\e627",
  bucket: "\e628",
  gradient: "\e629",
  gradient2: "\e62a",
  magic-wand: "\e62b",
  magnet: "\e62c",
  pencil-ruler: "\e62d",
  pencil-ruler2: "\e62e",
  compass: "\e62f",
  aim: "\e630",
  gun: "\e631",
  bottle: "\e632",
  drop: "\e633",
  drop-crossed: "\e634",
  drop2: "\e635",
  snow: "\e636",
  snow2: "\e637",
  fire: "\e638",
  lighter: "\e639",
  knife: "\e63a",
  dagger: "\e63b",
  tissue: "\e63c",
  toilet-paper: "\e63d",
  poop: "\e63e",
  umbrella: "\e63f",
  umbrella2: "\e640",
  rain: "\e641",
  tornado: "\e642",
  wind: "\e643",
  fan: "\e644",
  contrast: "\e645",
  sun-small: "\e646",
  sun: "\e647",
  sun2: "\e648",
  moon: "\e649",
  cloud: "\e64a",
  cloud-upload: "\e64b",
  cloud-download: "\e64c",
  cloud-rain: "\e64d",
  cloud-hailstones: "\e64e",
  cloud-snow: "\e64f",
  cloud-windy: "\e650",
  sun-wind: "\e651",
  cloud-fog: "\e652",
  cloud-sun: "\e653",
  cloud-lightning: "\e654",
  cloud-sync: "\e655",
  cloud-lock: "\e656",
  cloud-gear: "\e657",
  cloud-alert: "\e658",
  cloud-check: "\e659",
  cloud-cross: "\e65a",
  cloud-crossed: "\e65b",
  cloud-database: "\e65c",
  database: "\e65d",
  database-add: "\e65e",
  database-remove: "\e65f",
  database-lock: "\e660",
  database-refresh: "\e661",
  database-check: "\e662",
  database-history: "\e663",
  database-upload: "\e664",
  database-download: "\e665",
  server: "\e666",
  shield: "\e667",
  shield-check: "\e668",
  shield-alert: "\e669",
  shield-cross: "\e66a",
  lock: "\e66b",
  rotation-lock: "\e66c",
  unlock: "\e66d",
  key: "\e66e",
  key-hole: "\e66f",
  toggle-off: "\e670",
  toggle-on: "\e671",
  cog: "\e672",
  cog2: "\e673",
  wrench: "\e674",
  screwdriver: "\e675",
  hammer-wrench: "\e676",
  hammer: "\e677",
  saw: "\e678",
  axe: "\e679",
  axe2: "\e67a",
  shovel: "\e67b",
  pickaxe: "\e67c",
  factory: "\e67d",
  factory2: "\e67e",
  recycle: "\e67f",
  trash: "\e680",
  trash2: "\e681",
  trash3: "\e682",
  broom: "\e683",
  game: "\e684",
  gamepad: "\e685",
  joystick: "\e686",
  dice: "\e687",
  spades: "\e688",
  diamonds: "\e689",
  clubs: "\e68a",
  hearts: "\e68b",
  heart: "\e68c",
  star: "\e68d",
  star-half: "\e68e",
  star-empty: "\e68f",
  flag: "\e690",
  flag2: "\e691",
  flag3: "\e692",
  mailbox-full: "\e693",
  mailbox-empty: "\e694",
  at-sign: "\e695",
  envelope: "\e696",
  envelope-open: "\e697",
  paperclip: "\e698",
  paper-plane: "\e699",
  reply: "\e69a",
  reply-all: "\e69b",
  inbox: "\e69c",
  inbox2: "\e69d",
  outbox: "\e69e",
  box: "\e69f",
  archive: "\e6a0",
  archive2: "\e6a1",
  drawers: "\e6a2",
  drawers2: "\e6a3",
  drawers3: "\e6a4",
  eye: "\e6a5",
  eye-crossed: "\e6a6",
  eye-plus: "\e6a7",
  eye-minus: "\e6a8",
  binoculars: "\e6a9",
  binoculars2: "\e6aa",
  hdd: "\e6ab",
  hdd-down: "\e6ac",
  hdd-up: "\e6ad",
  floppy-disk: "\e6ae",
  disc: "\e6af",
  tape2: "\e6b0",
  printer: "\e6b1",
  shredder: "\e6b2",
  file-empty: "\e6b3",
  file-add: "\e6b4",
  file-check: "\e6b5",
  file-lock: "\e6b6",
  files: "\e6b7",
  copy: "\e6b8",
  compare: "\e6b9",
  folder: "\e6ba",
  folder-search: "\e6bb",
  folder-plus: "\e6bc",
  folder-minus: "\e6bd",
  folder-download: "\e6be",
  folder-upload: "\e6bf",
  folder-star: "\e6c0",
  folder-heart: "\e6c1",
  folder-user: "\e6c2",
  folder-shared: "\e6c3",
  folder-music: "\e6c4",
  folder-picture: "\e6c5",
  folder-film: "\e6c6",
  scissors: "\e6c7",
  paste: "\e6c8",
  clipboard-empty: "\e6c9",
  clipboard-pencil: "\e6ca",
  clipboard-text: "\e6cb",
  clipboard-check: "\e6cc",
  clipboard-down: "\e6cd",
  clipboard-left: "\e6ce",
  clipboard-alert: "\e6cf",
  clipboard-user: "\e6d0",
  register: "\e6d1",
  enter: "\e6d2",
  exit: "\e6d3",
  papers: "\e6d4",
  news: "\e6d5",
  reading: "\e6d6",
  typewriter: "\e6d7",
  document: "\e6d8",
  document2: "\e6d9",
  graduation-hat: "\e6da",
  license: "\e6db",
  license2: "\e6dc",
  medal-empty: "\e6dd",
  medal-first: "\e6de",
  medal-second: "\e6df",
  medal-third: "\e6e0",
  podium: "\e6e1",
  trophy: "\e6e2",
  trophy2: "\e6e3",
  music-note: "\e6e4",
  music-note2: "\e6e5",
  music-note3: "\e6e6",
  playlist: "\e6e7",
  playlist-add: "\e6e8",
  guitar: "\e6e9",
  trumpet: "\e6ea",
  album: "\e6eb",
  shuffle: "\e6ec",
  repeat-one: "\e6ed",
  repeat: "\e6ee",
  headphones: "\e6ef",
  headset: "\e6f0",
  loudspeaker: "\e6f1",
  equalizer: "\e6f2",
  theater: "\e6f3",
  "3d-glasses": "\e6f4",
  ticket: "\e6f5",
  presentation: "\e6f6",
  play: "\e6f7",
  film-play: "\e6f8",
  clapboard-play: "\e6f9",
  media: "\e6fa",
  film: "\e6fb",
  film2: "\e6fc",
  surveillance: "\e6fd",
  surveillance2: "\e6fe",
  camera: "\e6ff",
  camera-crossed: "\e700",
  camera-play: "\e701",
  time-lapse: "\e702",
  record: "\e703",
  camera2: "\e704",
  camera-flip: "\e705",
  panorama: "\e706",
  time-lapse2: "\e707",
  shutter: "\e708",
  shutter2: "\e709",
  face-detection: "\e70a",
  flare: "\e70b",
  convex: "\e70c",
  concave: "\e70d",
  picture: "\e70e",
  picture2: "\e70f",
  picture3: "\e710",
  pictures: "\e711",
  book: "\e712",
  audio-book: "\e713",
  book2: "\e714",
  bookmark: "\e715",
  bookmark2: "\e716",
  label: "\e717",
  library: "\e718",
  library2: "\e719",
  contacts: "\e71a",
  profile: "\e71b",
  portrait: "\e71c",
  portrait2: "\e71d",
  user: "\e71e",
  user-plus: "\e71f",
  user-minus: "\e720",
  user-lock: "\e721",
  users: "\e722",
  users2: "\e723",
  users-plus: "\e724",
  users-minus: "\e725",
  group-work: "\e726",
  woman: "\e727",
  man: "\e728",
  baby: "\e729",
  baby2: "\e72a",
  baby3: "\e72b",
  baby-bottle: "\e72c",
  walk: "\e72d",
  hand-waving: "\e72e",
  jump: "\e72f",
  run: "\e730",
  woman2: "\e731",
  man2: "\e732",
  man-woman: "\e733",
  height: "\e734",
  weight: "\e735",
  scale: "\e736",
  button: "\e737",
  bow-tie: "\e738",
  tie: "\e739",
  socks: "\e73a",
  shoe: "\e73b",
  shoes: "\e73c",
  hat: "\e73d",
  pants: "\e73e",
  shorts: "\e73f",
  flip-flops: "\e740",
  shirt: "\e741",
  hanger: "\e742",
  laundry: "\e743",
  store: "\e744",
  haircut: "\e745",
  store-24: "\e746",
  barcode: "\e747",
  barcode2: "\e748",
  barcode3: "\e749",
  cashier: "\e74a",
  bag: "\e74b",
  bag2: "\e74c",
  cart: "\e74d",
  cart-empty: "\e74e",
  cart-full: "\e74f",
  cart-plus: "\e750",
  cart-plus2: "\e751",
  cart-add: "\e752",
  cart-remove: "\e753",
  cart-exchange: "\e754",
  tag: "\e755",
  tags: "\e756",
  receipt: "\e757",
  wallet: "\e758",
  credit-card: "\e759",
  cash-dollar: "\e75a",
  cash-euro: "\e75b",
  cash-pound: "\e75c",
  cash-yen: "\e75d",
  bag-dollar: "\e75e",
  bag-euro: "\e75f",
  bag-pound: "\e760",
  bag-yen: "\e761",
  coin-dollar: "\e762",
  coin-euro: "\e763",
  coin-pound: "\e764",
  coin-yen: "\e765",
  calculator: "\e766",
  calculator2: "\e767",
  abacus: "\e768",
  vault: "\e769",
  telephone: "\e76a",
  phone-lock: "\e76b",
  phone-wave: "\e76c",
  phone-pause: "\e76d",
  phone-outgoing: "\e76e",
  phone-incoming: "\e76f",
  phone-in-out: "\e770",
  phone-error: "\e771",
  phone-sip: "\e772",
  phone-plus: "\e773",
  phone-minus: "\e774",
  voicemail: "\e775",
  dial: "\e776",
  telephone2: "\e777",
  pushpin: "\e778",
  pushpin2: "\e779",
  map-marker: "\e77a",
  map-marker-user: "\e77b",
  map-marker-down: "\e77c",
  map-marker-check: "\e77d",
  map-marker-crossed: "\e77e",
  radar: "\e77f",
  compass2: "\e780",
  map: "\e781",
  map2: "\e782",
  location: "\e783",
  road-sign: "\e784",
  calendar-empty: "\e785",
  calendar-check: "\e786",
  calendar-cross: "\e787",
  calendar-31: "\e788",
  calendar-full: "\e789",
  calendar-insert: "\e78a",
  calendar-text: "\e78b",
  calendar-user: "\e78c",
  mouse: "\e78d",
  mouse-left: "\e78e",
  mouse-right: "\e78f",
  mouse-both: "\e790",
  keyboard: "\e791",
  keyboard-up: "\e792",
  keyboard-down: "\e793",
  delete: "\e794",
  spell-check: "\e795",
  escape: "\e796",
  enter2: "\e797",
  screen: "\e798",
  aspect-ratio: "\e799",
  signal: "\e79a",
  signal-lock: "\e79b",
  signal-80: "\e79c",
  signal-60: "\e79d",
  signal-40: "\e79e",
  signal-20: "\e79f",
  signal-0: "\e7a0",
  signal-blocked: "\e7a1",
  sim: "\e7a2",
  flash-memory: "\e7a3",
  usb-drive: "\e7a4",
  phone: "\e7a5",
  smartphone: "\e7a6",
  smartphone-notification: "\e7a7",
  smartphone-vibration: "\e7a8",
  smartphone-embed: "\e7a9",
  smartphone-waves: "\e7aa",
  tablet: "\e7ab",
  tablet2: "\e7ac",
  laptop: "\e7ad",
  laptop-phone: "\e7ae",
  desktop: "\e7af",
  launch: "\e7b0",
  new-tab: "\e7b1",
  window: "\e7b2",
  cable: "\e7b3",
  cable2: "\e7b4",
  tv: "\e7b5",
  radio: "\e7b6",
  remote-control: "\e7b7",
  power-switch: "\e7b8",
  power: "\e7b9",
  power-crossed: "\e7ba",
  flash-auto: "\e7bb",
  lamp: "\e7bc",
  flashlight: "\e7bd",
  lampshade: "\e7be",
  cord: "\e7bf",
  outlet: "\e7c0",
  battery-power: "\e7c1",
  battery-empty: "\e7c2",
  battery-alert: "\e7c3",
  battery-error: "\e7c4",
  battery-low1: "\e7c5",
  battery-low2: "\e7c6",
  battery-low3: "\e7c7",
  battery-mid1: "\e7c8",
  battery-mid2: "\e7c9",
  battery-mid3: "\e7ca",
  battery-full: "\e7cb",
  battery-charging: "\e7cc",
  battery-charging2: "\e7cd",
  battery-charging3: "\e7ce",
  battery-charging4: "\e7cf",
  battery-charging5: "\e7d0",
  battery-charging6: "\e7d1",
  battery-charging7: "\e7d2",
  chip: "\e7d3",
  chip-x64: "\e7d4",
  chip-x86: "\e7d5",
  bubble: "\e7d6",
  bubbles: "\e7d7",
  bubble-dots: "\e7d8",
  bubble-alert: "\e7d9",
  bubble-question: "\e7da",
  bubble-text: "\e7db",
  bubble-pencil: "\e7dc",
  bubble-picture: "\e7dd",
  bubble-video: "\e7de",
  bubble-user: "\e7df",
  bubble-quote: "\e7e0",
  bubble-heart: "\e7e1",
  bubble-emoticon: "\e7e2",
  bubble-attachment: "\e7e3",
  phone-bubble: "\e7e4",
  quote-open: "\e7e5",
  quote-close: "\e7e6",
  dna: "\e7e7",
  heart-pulse: "\e7e8",
  pulse: "\e7e9",
  syringe: "\e7ea",
  pills: "\e7eb",
  first-aid: "\e7ec",
  lifebuoy: "\e7ed",
  bandage: "\e7ee",
  bandages: "\e7ef",
  thermometer: "\e7f0",
  microscope: "\e7f1",
  brain: "\e7f2",
  beaker: "\e7f3",
  skull: "\e7f4",
  bone: "\e7f5",
  construction: "\e7f6",
  construction-cone: "\e7f7",
  pie-chart: "\e7f8",
  pie-chart2: "\e7f9",
  graph: "\e7fa",
  chart-growth: "\e7fb",
  chart-bars: "\e7fc",
  chart-settings: "\e7fd",
  cake: "\e7fe",
  gift: "\e7ff",
  balloon: "\e800",
  rank: "\e801",
  rank2: "\e802",
  rank3: "\e803",
  crown: "\e804",
  lotus: "\e805",
  diamond: "\e806",
  diamond2: "\e807",
  diamond3: "\e808",
  diamond4: "\e809",
  linearicons: "\e80a",
  teacup: "\e80b",
  teapot: "\e80c",
  glass: "\e80d",
  bottle2: "\e80e",
  glass-cocktail: "\e80f",
  glass2: "\e810",
  dinner: "\e811",
  dinner2: "\e812",
  chef: "\e813",
  scale2: "\e814",
  egg: "\e815",
  egg2: "\e816",
  eggs: "\e817",
  platter: "\e818",
  steak: "\e819",
  hamburger: "\e81a",
  hotdog: "\e81b",
  pizza: "\e81c",
  sausage: "\e81d",
  chicken: "\e81e",
  fish: "\e81f",
  carrot: "\e820",
  cheese: "\e821",
  bread: "\e822",
  ice-cream: "\e823",
  ice-cream2: "\e824",
  candy: "\e825",
  lollipop: "\e826",
  coffee-bean: "\e827",
  coffee-cup: "\e828",
  cherry: "\e829",
  grapes: "\e82a",
  citrus: "\e82b",
  apple: "\e82c",
  leaf: "\e82d",
  landscape: "\e82e",
  pine-tree: "\e82f",
  tree: "\e830",
  cactus: "\e831",
  paw: "\e832",
  footprint: "\e833",
  speed-slow: "\e834",
  speed-medium: "\e835",
  speed-fast: "\e836",
  rocket: "\e837",
  hammer2: "\e838",
  balance: "\e839",
  briefcase: "\e83a",
  luggage-weight: "\e83b",
  dolly: "\e83c",
  plane: "\e83d",
  plane-crossed: "\e83e",
  helicopter: "\e83f",
  traffic-lights: "\e840",
  siren: "\e841",
  road: "\e842",
  engine: "\e843",
  oil-pressure: "\e844",
  coolant-temperature: "\e845",
  car-battery: "\e846",
  gas: "\e847",
  gallon: "\e848",
  transmission: "\e849",
  car: "\e84a",
  car-wash: "\e84b",
  car-wash2: "\e84c",
  bus: "\e84d",
  bus2: "\e84e",
  car2: "\e84f",
  parking: "\e850",
  car-lock: "\e851",
  taxi: "\e852",
  car-siren: "\e853",
  car-wash3: "\e854",
  car-wash4: "\e855",
  ambulance: "\e856",
  truck: "\e857",
  trailer: "\e858",
  scale-truck: "\e859",
  train: "\e85a",
  ship: "\e85b",
  ship2: "\e85c",
  anchor: "\e85d",
  boat: "\e85e",
  bicycle: "\e85f",
  bicycle2: "\e860",
  dumbbell: "\e861",
  bench-press: "\e862",
  swim: "\e863",
  football: "\e864",
  baseball-bat: "\e865",
  baseball: "\e866",
  tennis: "\e867",
  tennis2: "\e868",
  ping-pong: "\e869",
  hockey: "\e86a",
  "8ball": "\e86b",
  bowling: "\e86c",
  bowling-pins: "\e86d",
  golf: "\e86e",
  golf2: "\e86f",
  archery: "\e870",
  slingshot: "\e871",
  soccer: "\e872",
  basketball: "\e873",
  cube: "\e874",
  "3d-rotate": "\e875",
  puzzle: "\e876",
  glasses: "\e877",
  glasses2: "\e878",
  accessibility: "\e879",
  wheelchair: "\e87a",
  wall: "\e87b",
  fence: "\e87c",
  wall2: "\e87d",
  icons: "\e87e",
  resize-handle: "\e87f",
  icons2: "\e880",
  select: "\e881",
  select2: "\e882",
  site-map: "\e883",
  earth: "\e884",
  earth-lock: "\e885",
  network: "\e886",
  network-lock: "\e887",
  planet: "\e888",
  happy: "\e889",
  smile: "\e88a",
  grin: "\e88b",
  tongue: "\e88c",
  sad: "\e88d",
  wink: "\e88e",
  dream: "\e88f",
  shocked: "\e890",
  shocked2: "\e891",
  tongue2: "\e892",
  neutral: "\e893",
  happy-grin: "\e894",
  cool: "\e895",
  mad: "\e896",
  grin-evil: "\e897",
  evil: "\e898",
  wow: "\e899",
  annoyed: "\e89a",
  wondering: "\e89b",
  confused: "\e89c",
  zipped: "\e89d",
  grumpy: "\e89e",
  mustache: "\e89f",
  tombstone-hipster: "\e8a0",
  tombstone: "\e8a1",
  ghost: "\e8a2",
  ghost-hipster: "\e8a3",
  halloween: "\e8a4",
  christmas: "\e8a5",
  easter-egg: "\e8a6",
  mustache2: "\e8a7",
  mustache-glasses: "\e8a8",
  pipe: "\e8a9",
  alarm: "\e8aa",
  alarm-add: "\e8ab",
  alarm-snooze: "\e8ac",
  alarm-ringing: "\e8ad",
  bullhorn: "\e8ae",
  hearing: "\e8af",
  volume-high: "\e8b0",
  volume-medium: "\e8b1",
  volume-low: "\e8b2",
  volume: "\e8b3",
  mute: "\e8b4",
  lan: "\e8b5",
  lan2: "\e8b6",
  wifi: "\e8b7",
  wifi-lock: "\e8b8",
  wifi-blocked: "\e8b9",
  wifi-mid: "\e8ba",
  wifi-low: "\e8bb",
  wifi-low2: "\e8bc",
  wifi-alert: "\e8bd",
  wifi-alert-mid: "\e8be",
  wifi-alert-low: "\e8bf",
  wifi-alert-low2: "\e8c0",
  stream: "\e8c1",
  stream-check: "\e8c2",
  stream-error: "\e8c3",
  stream-alert: "\e8c4",
  communication: "\e8c5",
  communication-crossed: "\e8c6",
  broadcast: "\e8c7",
  antenna: "\e8c8",
  satellite: "\e8c9",
  satellite2: "\e8ca",
  mic: "\e8cb",
  mic-mute: "\e8cc",
  mic2: "\e8cd",
  spotlights: "\e8ce",
  hourglass: "\e8cf",
  loading: "\e8d0",
  loading2: "\e8d1",
  loading3: "\e8d2",
  refresh: "\e8d3",
  refresh2: "\e8d4",
  undo: "\e8d5",
  redo: "\e8d6",
  jump2: "\e8d7",
  undo2: "\e8d8",
  redo2: "\e8d9",
  sync: "\e8da",
  repeat-one2: "\e8db",
  sync-crossed: "\e8dc",
  sync2: "\e8dd",
  repeat-one3: "\e8de",
  sync-crossed2: "\e8df",
  "return": "\e8e0",
  return2: "\e8e1",
  refund: "\e8e2",
  history: "\e8e3",
  history2: "\e8e4",
  self-timer: "\e8e5",
  clock: "\e8e6",
  clock2: "\e8e7",
  clock3: "\e8e8",
  watch: "\e8e9",
  alarm2: "\e8ea",
  alarm-add2: "\e8eb",
  alarm-remove: "\e8ec",
  alarm-check: "\e8ed",
  alarm-error: "\e8ee",
  timer: "\e8ef",
  timer-crossed: "\e8f0",
  timer2: "\e8f1",
  timer-crossed2: "\e8f2",
  download: "\e8f3",
  upload: "\e8f4",
  download2: "\e8f5",
  upload2: "\e8f6",
  enter-up: "\e8f7",
  enter-down: "\e8f8",
  enter-left: "\e8f9",
  enter-right: "\e8fa",
  exit-up: "\e8fb",
  exit-down: "\e8fc",
  exit-left: "\e8fd",
  exit-right: "\e8fe",
  enter-up2: "\e8ff",
  enter-down2: "\e900",
  enter-vertical: "\e901",
  enter-left2: "\e902",
  enter-right2: "\e903",
  enter-horizontal: "\e904",
  exit-up2: "\e905",
  exit-down2: "\e906",
  exit-left2: "\e907",
  exit-right2: "\e908",
  cli: "\e909",
  bug: "\e90a",
  code: "\e90b",
  file-code: "\e90c",
  file-image: "\e90d",
  file-zip: "\e90e",
  file-audio: "\e90f",
  file-video: "\e910",
  file-preview: "\e911",
  file-charts: "\e912",
  file-stats: "\e913",
  file-spreadsheet: "\e914",
  link: "\e915",
  unlink: "\e916",
  link2: "\e917",
  unlink2: "\e918",
  thumbs-up: "\e919",
  thumbs-down: "\e91a",
  thumbs-up2: "\e91b",
  thumbs-down2: "\e91c",
  thumbs-up3: "\e91d",
  thumbs-down3: "\e91e",
  share: "\e91f",
  share2: "\e920",
  share3: "\e921",
  magnifier: "\e922",
  file-search: "\e923",
  find-replace: "\e924",
  zoom-in: "\e925",
  zoom-out: "\e926",
  loupe: "\e927",
  loupe-zoom-in: "\e928",
  loupe-zoom-out: "\e929",
  cross: "\e92a",
  menu: "\e92b",
  list: "\e92c",
  list2: "\e92d",
  list3: "\e92e",
  menu2: "\e92f",
  list4: "\e930",
  menu3: "\e931",
  exclamation: "\e932",
  question: "\e933",
  check: "\e934",
  cross2: "\e935",
  plus: "\e936",
  minus: "\e937",
  percent: "\e938",
  chevron-up: "\e939",
  chevron-down: "\e93a",
  chevron-left: "\e93b",
  chevron-right: "\e93c",
  chevrons-expand-vertical: "\e93d",
  chevrons-expand-horizontal: "\e93e",
  chevrons-contract-vertical: "\e93f",
  chevrons-contract-horizontal: "\e940",
  arrow-up: "\e941",
  exit-up: "\e941",
  arrow-down: "\e942",
  exit-down: "\e942",
  arrow-left: "\e943",
  arrow-right: "\e944",
  arrow-up-right: "\e945",
  arrows-merge: "\e946",
  arrows-split: "\e947",
  arrow-divert: "\e948",
  arrow-return: "\e949",
  expand: "\e94a",
  contract: "\e94b",
  expand2: "\e94c",
  contract2: "\e94d",
  move: "\e94e",
  tab: "\e94f",
  arrow-wave: "\e950",
  expand3: "\e951",
  expand4: "\e952",
  contract3: "\e953",
  notification: "\e954",
  warning: "\e955",
  notification-circle: "\e956",
  question-circle: "\e957",
  menu-circle: "\e958",
  checkmark-circle: "\e959",
  cross-circle: "\e95a",
  plus-circle: "\e95b",
  circle-minus: "\e95c",
  percent-circle: "\e95d",
  arrow-up-circle: "\e95e",
  exit-north: "\e95e",
  exit-north-west: "\e95e",
  exit-north-east: "\e95e",
  arrow-down-circle: "\e95f",
  exit-south: "\e95f",
  exit-south-west: "\e95f",
  exit-south-east: "\e95f",
  arrow-left-circle: "\e960",
  exit-west: "\e960",
  arrow-right-circle: "\e961",
  exit-east: "\e961",
  chevron-up-circle: "\e962",
  chevron-down-circle: "\e963",
  chevron-left-circle: "\e964",
  chevron-right-circle: "\e965",
  backward-circle: "\e966",
  first-circle: "\e967",
  previous-circle: "\e968",
  stop-circle: "\e969",
  play-circle: "\e96a",
  pause-circle: "\e96b",
  next-circle: "\e96c",
  last-circle: "\e96d",
  forward-circle: "\e96e",
  eject-circle: "\e96f",
  crop: "\e970",
  frame-expand: "\e971",
  frame-contract: "\e972",
  focus: "\e973",
  transform: "\e974",
  grid: "\e975",
  grid-crossed: "\e976",
  layers: "\e977",
  layers-crossed: "\e978",
  toggle: "\e979",
  rulers: "\e97a",
  ruler: "\e97b",
  funnel: "\e97c",
  flip-horizontal: "\e97d",
  flip-vertical: "\e97e",
  flip-horizontal2: "\e97f",
  flip-vertical2: "\e980",
  angle: "\e981",
  angle2: "\e982",
  subtract: "\e983",
  combine: "\e984",
  intersect: "\e985",
  exclude: "\e986",
  align-center-vertical: "\e987",
  align-right: "\e988",
  align-bottom: "\e989",
  align-left: "\e98a",
  align-center-horizontal: "\e98b",
  align-top: "\e98c",
  square: "\e98d",
  plus-square: "\e98e",
  minus-square: "\e98f",
  percent-square: "\e990",
  arrow-up-square: "\e991",
  arrow-down-square: "\e992",
  arrow-left-square: "\e993",
  arrow-right-square: "\e994",
  chevron-up-square: "\e995",
  chevron-down-square: "\e996",
  chevron-left-square: "\e997",
  chevron-right-square: "\e998",
  check-square: "\e999",
  cross-square: "\e99a",
  menu-square: "\e99b",
  prohibited: "\e99c",
  circle: "\e99d",
  radio-button: "\e99e",
  ligature: "\e99f",
  text-format: "\e9a0",
  text-format-remove: "\e9a1",
  text-size: "\e9a2",
  bold: "\e9a3",
  italic: "\e9a4",
  underline: "\e9a5",
  strikethrough: "\e9a6",
  highlight: "\e9a7",
  text-align-left: "\e9a8",
  text-align-center: "\e9a9",
  text-align-right: "\e9aa",
  text-align-justify: "\e9ab",
  line-spacing: "\e9ac",
  indent-increase: "\e9ad",
  indent-decrease: "\e9ae",
  text-wrap: "\e9af",
  pilcrow: "\e9b0",
  direction-ltr: "\e9b1",
  direction-rtl: "\e9b2",
  page-break: "\e9b3",
  page-break2: "\e9b4",
  sort-alpha-asc: "\e9b5",
  sort-alpha-desc: "\e9b6",
  sort-numeric-asc: "\e9b7",
  sort-numeric-desc: "\e9b8",
  sort-amount-asc: "\e9b9",
  sort-amount-desc: "\e9ba",
  sort-time-asc: "\e9bb",
  sort-time-desc: "\e9bc",
  sigma: "\e9bd",
  pencil-line: "\e9be",
  hand: "\e9bf",
  pointer-up: "\e9c0",
  pointer-right: "\e9c1",
  pointer-down: "\e9c2",
  pointer-left: "\e9c3",
  finger-tap: "\e9c4",
  fingers-tap: "\e9c5",
  reminder: "\e9c6",
  fingers-crossed: "\e9c7",
  fingers-victory: "\e9c8",
  gesture-zoom: "\e9c9",
  gesture-pinch: "\e9ca",
  fingers-scroll-horizontal: "\e9cb",
  fingers-scroll-vertical: "\e9cc",
  fingers-scroll-left: "\e9cd",
  fingers-scroll-right: "\e9ce",
  hand2: "\e9cf",
  pointer-up2: "\e9d0",
  pointer-right2: "\e9d1",
  pointer-down2: "\e9d2",
  pointer-left2: "\e9d3",
  finger-tap2: "\e9d4",
  fingers-tap2: "\e9d5",
  reminder2: "\e9d6",
  gesture-zoom2: "\e9d7",
  gesture-pinch2: "\e9d8",
  fingers-scroll-horizontal2: "\e9d9",
  fingers-scroll-vertical2: "\e9da",
  fingers-scroll-left2: "\e9db",
  fingers-scroll-right2: "\e9dc",
  fingers-scroll-vertical3: "\e9dd",
  border-style: "\e9de",
  border-all: "\e9df",
  border-outer: "\e9e0",
  border-inner: "\e9e1",
  border-top: "\e9e2",
  border-horizontal: "\e9e3",
  border-bottom: "\e9e4",
  border-left: "\e9e5",
  border-vertical: "\e9e6",
  border-right: "\e9e7",
  border-none: "\e9e8",
  ellipsis: "\e9e9",
  uni21: "\21",
  uni22: "\22",
  uni23: "\23",
  uni24: "\24",
  uni25: "\25",
  uni26: "\26",
  uni27: "\27",
  uni28: "\28",
  uni29: "\29",
  uni2a: "\2a",
  uni2b: "\2b",
  uni2c: "\2c",
  uni2d: "\2d",
  uni2e: "\2e",
  uni2f: "\2f",
  uni30: "\30",
  uni31: "\31",
  uni32: "\32",
  uni33: "\33",
  uni34: "\34",
  uni35: "\35",
  uni36: "\36",
  uni37: "\37",
  uni38: "\38",
  uni39: "\39",
  uni3a: "\3a",
  uni3b: "\3b",
  uni3c: "\3c",
  uni3d: "\3d",
  uni3e: "\3e",
  uni3f: "\3f",
  uni40: "\40",
  uni41: "\41",
  uni42: "\42",
  uni43: "\43",
  uni44: "\44",
  uni45: "\45",
  uni46: "\46",
  uni47: "\47",
  uni48: "\48",
  uni49: "\49",
  uni4a: "\4a",
  uni4b: "\4b",
  uni4c: "\4c",
  uni4d: "\4d",
  uni4e: "\4e",
  uni4f: "\4f",
  uni50: "\50",
  uni51: "\51",
  uni52: "\52",
  uni53: "\53",
  uni54: "\54",
  uni55: "\55",
  uni56: "\56",
  uni57: "\57",
  uni58: "\58",
  uni59: "\59",
  uni5a: "\5a",
  uni5b: "\5b",
  uni5c: "\5c",
  uni5d: "\5d",
  uni5e: "\5e",
  uni5f: "\5f",
  uni60: "\60",
  uni61: "\61",
  uni62: "\62",
  uni63: "\63",
  uni64: "\64",
  uni65: "\65",
  uni66: "\66",
  uni67: "\67",
  uni68: "\68",
  uni69: "\69",
  uni6a: "\6a",
  uni6b: "\6b",
  uni6c: "\6c",
  uni6d: "\6d",
  uni6e: "\6e",
  uni6f: "\6f",
  uni70: "\70",
  uni71: "\71",
  uni72: "\72",
  uni73: "\73",
  uni74: "\74",
  uni75: "\75",
  uni76: "\76",
  uni77: "\77",
  uni78: "\78",
  uni79: "\79",
  uni7a: "\7a",
  uni7b: "\7b",
  uni7c: "\7c",
  uni7d: "\7d",
  uni7e: "\7e",
  copyright: "\a9",
}

// icon classes
[class*=icn-]
	font-family: 'icons'
	font-style: normal
	font-variant: normal
	font-weight: normal
	line-height: 1
	speak: none
	text-transform: none
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased

for icon in $icons
  .icn-{icon}::before
    content: $icons[icon]

@font-face
	font-family: 'icons';
	src: url('/public/icons/Linearicons.ttf')
	font-weight: normal;
	font-style: normal;
